* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: wheat;
}

#container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#calculator {
    background-color: gray;
    height: 450px;
    width: 350px;
    border: solid 4px black;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#inputBox{
    height: 60px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 28px;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 4px;
}

#btnsContainer {
    display: flex;
    height: 100%;
}

button {
    border-radius: 5px 10px 15px 20px;
}

#numsContainer {
    flex: 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 5px;
    gap: 5px;
}

#numsContainer > button {
    font-size: 36px;
    font-weight: 600;
    width: 30%;
    flex-grow: 2;
    background-color: seashell;
}

#dot {
    flex-basis: 0;
}

#operatorsContainer {
    flex: 1;
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

#operatorsContainer > button {
    font-size: 28px;
    font-weight: 600;
    flex: 1;
    background-color: goldenrod;
}

.active-operator, button:active {
    filter: brightness(0.6);
}